<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.mybatis01.mapper.UserMapper">

    <select id="getUserById" resultType="org.javaboy.mybatis01.model.User" parameterType="java.lang.Long">
        select * from user where id=#{id};
    </select>

    <select id="getAllUser" resultType="org.javaboy.mybatis01.model.User">
        select * from user;
    </select>

    <insert id="addUser" parameterType="org.javaboy.mybatis01.model.User">
        <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">
            select uuid();
        </selectKey>
        insert into user (id,username,address) values (#{id},#{username},#{address});
    </insert>

    <delete id="deleteUserById" parameterType="java.lang.Long">
        delete from user where id=#{id}
    </delete>

    <update id="updateUserById" parameterType="org.javaboy.mybatis01.model.User">
        update user set username = #{username} where id=#{id};
    </update>
</mapper>